* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FF9A4B;
  width: 100%;
  height: 50px;
}


.contents {
  margin: 50px auto;
  width: 960px;
  display: flex;
  justify-content: center;
}

.blog {
  width: 300px;
  background-color: #EEEEEE;
  /* padding: 10px 10px 10px 10px; */
}

.blog:nth-child(1) {
  margin-right: 30px;
}

.blog:nth-child(2) {
  margin-right: 30px;
}

.step-icon {
  background-color: #FF9A4B;
  width: 37px;
  height: 20px;
  position: absolute;
  color: white;
}

.step {
  font-size: 13px
}

.blog-image {
  width: 100%;
  height: 150px;
  padding: 10px 10px 0px 10px;
}

.blog-text {
  padding: 0 10px 10px 10px;
}

.blog-title {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  background-color: #AAAAAA;
  width: 100%;
  height: 50px;
}